<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="pola">
    <a href="peetayers.html">
      <div class="polaroid franco">
        <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/franco.jpg" %>');">
        </div>
        <p class="polaroid-text"><strong>Franco, 25 ans<strong></p>
        <p class="polaroid-desc">"I would like to share local tips"</p>
      </div>
      <%= image_tag "flaticon/pin.png", class: "polaroid-franco-pin" %>
      </a>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="pola">
    <a href="peetayers.html">
      <div class="polaroid flo">
        <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars3.githubusercontent.com/u/32438091?v=4');">
        </div>
        <p class="polaroid-text"><strong>Florine, 28 ans<strong></p>
        <p class="polaroid-desc">"I know Lille inside out!"</p>
      </div>
      <%= image_tag "flaticon/pin.png", class: "polaroid-flo-pin" %>
    </a>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="pola">
    <a href="peetayers.html">
      <div class="polaroid clem">
        <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/pierre.jpg" %>');">
        </div>
        <p class="polaroid-text"><strong>Pierre, 24 ans<strong></p>
        <p class="polaroid-desc">"I love to move and be busy"</p>
      </div>
      <%= image_tag "flaticon/pin.png", class: "polaroid-clem-pin" %>
    </a>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="pola">
    <a href="peetayers.html">
      <div class="polaroid quent">
        <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/ewelina.jpg" %>');">
        </div>
        <p class="polaroid-text"><strong>Ewelina, 39 ans<strong></p>
        <p class="polaroid-desc">"We are expatriate Polish"</p>
      </div>
      <%= image_tag "flaticon/pin.png", class: "polaroid-quent-pin" %>
    </a>
  </div>
</div>

