<!-- Banner -->
<div class="banner-peetayers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "https://source.unsplash.com/collection/865018/1000x300"%>');">
  <div class="banner-peetayers-content">
    <h1>Welcome</h1>
  </div>
</div>
<!-- End Banner -->

<div class="container">
  <div class="body">
    <div class="row">

      <div class="column-1">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="polaroid flo">
            <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/allem.jpg" %>');">
            </div>
            <p class="polaroid-text"><strong>Allem, 27 ans<strong></p>
            <p class="polaroid-desc">"in Lille for 10 years"</p>
          </div>
          <br>

          <div class="infos">
            <div class="infos-title text-center">
              <p><strong>Information checked</strong></p>
            </div>
            <div class="infos-content">
              <ul><p><i class="far fa-check-circle"></i> Official ID</p></ul>
              <ul><p><i class="far fa-check-circle"></i> Phone</p></ul>
              <ul><p><i class="far fa-check-circle"></i> Email</p></ul>
            </div>
          </div>
        </div>
      </div>

      <div class="column-2">
        <div class="col-xs-12 col-sm-12 col-md-9">

            <div class="row">
              <div class="space1 text-center">
                <div class="space1-title">
                  <h3>Hello, I'm Allem!</h3>
                </div>
                <div class="space1-content">
                  <p>Lille, France ° for 10 years</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Available services</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <div class="row">
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/suitcase.png", class: "space2-photo" %>
                        <p>Prepare your trip</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/location.png", class: "space2-photo" %>
                        <p>Housing services</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/medical-history.png", class: "space2-photo" %>
                        <p>Assistance the admins</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/football.png", class: "space2-photo" %>
                        <p>Play sports</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Languages?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>French & English</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Why do you like Lille?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Its inhabitants, meet people is very easy in Lille. I also like its size, it's a city big enough to accommodate all the services of a big city and a city of a size modest enough to cross it by foot.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Your favorite spots in Lille?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Run in "La Citadelle" park. And "Les compagnons de la grappe" restaurant in the Vieux Lille (old town).</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Why do you want to become a Peetayer?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>I would like to meet people from a different culture and share my experience to help them or make they stay pleasant.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>What are your interests?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>I do a lot of jogging. I enjoy both outings in bars with friends and quiet evenings around a board game.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>What about Allem?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Allem lives in Lille for 10 years. As a young entrepreneur in law, he enjoys helping others, both professionally and personally. He will help you if you have an administrative concern but also share with you his experience and tips.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Form bloc -->
<%= partial "layouts/joinus" %>
