<!-- Banner -->
<div class="banner-peetayers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "https://source.unsplash.com/collection/865018/1000x300"%>');">
  <div class="banner-peetayers-content">
    <h1>Welcome</h1>
  </div>
</div>
<!-- End Banner -->

<div class="container">

  <!-- Pola bloc -->
  <div class="class row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="polaroid flo">
        <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars3.githubusercontent.com/u/32438091?v=4');">
        </div>
        <p class="polaroid-text"><strong>Florine, 28 ans<strong></p>
        <p class="polaroid-desc">"Lillois d'origine"</p>
      </div>
    </div>
  </div>
  <!-- End Pola bloc -->

  <!-- Services bloc -->
  <div class="class service">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="desc-service text-center">
         <%= image_tag "flaticon/location.png", class: "desc-service-photo" %>
          <p>Housing services</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="desc-service text-center">
          <%= image_tag "flaticon/medical-history.png", class: "desc-service-photo" %>
          <p>Assistance the admins</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="desc-service text-center">
          <%= image_tag "flaticon/cheers.png", class: "desc-service-photo" %>
          <p>Locals good deals</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="desc-service text-center">
          <%= image_tag "flaticon/medical-history.png", class: "desc-service-photo" %>
          <p>Assistance the admins</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="desc-service text-center">
          <%= image_tag "flaticon/medical-history.png", class: "desc-service-photo" %>
          <p>Assistance the admins</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="desc-service text-center">
          <%= image_tag "flaticon/medical-history.png", class: "desc-service-photo" %>
          <p>Assistance the admins</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Services bloc -->


  <!-- Description bloc -->
  <div class="description">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1"">
        <div class="desc-title">
          <h5>City</h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="desc-content">
          <p>Lille, France</p>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1"">
        <div class="desc-title">
          <h5>Languages</h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="desc-content">
          <p>French, English, Spanish</p>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1"">
        <div class="desc-title">
          <h5>Description</h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="desc-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, repudiandae maiores architecto impedit eum, expedita officia assumenda officiis repellendus commodi quas accusamus modi totam quod qui fugit illum ipsa rem!</p>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
        <div class="desc-title">
          <h5>Why do you love Lille?</h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="desc-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, illum, optio. Veritatis sint qui molestias enim maiores beatae dicta eius modi quae atque id, vitae totam, excepturi iusto iure iste.</p>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1"">
        <div class="desc-title">
          <h5>Your favorite spots in Lille</h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="desc-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem odit expedita, similique ullam aspernatur mollitia, reiciendis sed tenetur illum iure quod cumque sequi perferendis natus quae quis tempora, ea ex!</p>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1"">
        <div class="desc-title">
          <h5>Why do you want to be a Peetayer?</h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="desc-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas rerum, aut eaque accusantium repudiandae quae. Dignissimos magni, dolores corporis cumque autem aspernatur est reiciendis inventore recusandae perferendis quibusdam aliquam molestias.</p>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1"">
        <div class="desc-title">
          <h5>What are your interests? </h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="desc-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, repudiandae maiores architecto impedit eum, expedita officia assumenda officiis repellendus commodi quas accusamus modi totam quod qui fugit illum ipsa rem!</p>
        </div>
      </div>
    </div>
    <hr>
  </div>

</div>
