
<!-- Hi Flo, keep this following section below (it's used to describe your site in your browser!)
---
css_id: home
title: Peetaya | Home
layout: layout
---

-->
<%= partial "layouts/navbar" %>

<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
  <div class="banner-content">
    <h1>Go abroad. Be welcomed</h1>
    <p>Feel confident studying abroad, our locals will take care of you!</p>
  </div>
</div>
<!-- End Banner -->

<!-- Body bloc -->
<div class="container text-center">

  <!-- Description bloc -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <div class="home-desc text-center">
        <p>Peetaya is a social network that allows students to share an experience with a local or an enthusiast of his city during his stay abroad (internship, university exchange, roadtrip, placement year, etc.)</p>
      </div>
    </div>
  </div>

  <br>
  <br>

  <!-- How it works bloc -->
  <div class="row">
    <h2>How it works?</h2>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="polaroid-home">
          <div class="polaroid-home-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "send.jpg" %>');">
          </div>
          <h3 class="polaroid-home-text"><strong>1. I SEND<strong></h3>
          <p class="polaroid-home-desc">A request to Peetaya to be put in contact with a Peetayer for my arrival in my future city or during my trip</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="polaroid-home">
          <div class="polaroid-home-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "receive.jpg" %>');">
          </div>
          <h3 class="polaroid-home-text"><strong>2. I RECEIVE<strong></h3>
          <p class="polaroid-home-desc">One or more Peetayers profiles so that I can choose the one who suits me the most (ultra-personalized)</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="polaroid-home">
          <div class="polaroid-home-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "booking.jpg" %>');">
          </div>
          <h3 class="polaroid-home-text"><strong>3. I BOOK<strong></h3>
          <p class="polaroid-home-desc">My Peetayer by confirming the payment. Then I receive his personal details to contact him</p>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>

  <!-- Peetayers bloc -->
  <div class="row">
    <h2>Our Peetayers</h2>
    <br>
    <br>

    <div class="row">
      <%= partial "layouts/polaroid" %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class="peetayers-desc text-center">
        <p>Ours Peetayers are locals or passionates about their city. Real experts of their city, our Peetayers are chosen with care. They will help you in your arrival or during your stay in your host city.</p>
      </div>
      <br>
      <div class="peetayers-more text-center">
        <a href="/peetayers.html"><i class="fas fa-arrow-circle-right fa-4x"></i></a>
      </div>
    </div>
  </div>

  <br>
  <br>

  <!-- Services bloc -->
  <div class="row">
    <h2>What kind of services can I ask?</h2>
    <br>
    <br>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-service">
        <%= image_tag "flaticon/location.png", class: "home-service-photo" %>
        <p>Housing services</p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-service">
        <%= image_tag "flaticon/medical-history.png", class: "home-service-photo" %>
        <p>Assistance the admins</p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-service">
        <%= image_tag "flaticon/cheers.png", class: "home-service-photo" %>
        <p>Locals good deals</p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-service">
        <%= image_tag "flaticon/guitar.png", class: "home-service-photo" %>
        <p>Concerts</p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-service">
        <%= image_tag "flaticon/masks.png", class: "home-service-photo" %>
        <p>Cultural deals</p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-service">
        <%= image_tag "flaticon/museum.png", class: "home-service-photo" %>
        <p>Museums</p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-service">
        <%= image_tag "flaticon/football.png", class: "home-service-photo" %>
        <p>Sports</p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-service">
        <%= image_tag "flaticon/add.png", class: "home-service-photo" %>
        <p>And more</p>
      </div>
    </div>
  </div>

</div>

  <!-- Form bloc -->
  <%= partial "layouts/joinus" %>








