
<!-- Hi Flo, keep this following section below (it's used to describe your site in your browser!) -->
---
css_id: home
title: Peetaya | Home
layout: layout
---

<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
  <div class="banner-content">
    <h1>Go abroad. Be welcomed</h1>
    <p>Feel confident studying abroad, our locals will take care of you!</p>
  </div>
</div>
<!-- End Banner -->

<div class="container text-center">

  <!-- Description bloc -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class="home-desc text-center">
        <h4>Peetaya is a social network that allows students to share an experience with a local or an enthusiast of his city during his stay abroad (internship, university exchange, roadtrip, placement year, etc.)</h4>
      </div>
    </div>
  </div>

  <!-- How it works bloc -->
  <div class="row">
    <h2>How it works?</h2>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-content">
        <%= image_tag "flaticon/search-flight.png", class: "home-content-photo" %>
        <h4>1. I SEND</h4>
        <p>A request to Peetaya to be put in contact with a Peetayer for my arrival in my future city or during my trip</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-content">
        <%= image_tag "flaticon/profil.png", class: "home-content-photo" %>
        <h4>2. I RECEIVE</h4>
        <p>One or more Peetayers profiles so that I can choose the one who suits me the most (ultra-personalized)</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-content">
        <%= image_tag "flaticon/website.png", class: "home-content-photo" %>
        <h4>3. I BOOK</h4>
        <p>My Peetayer by confirming the payment. Then I receive his personal details to contact him</p>
      </div>
    </div>
  </div>

  <!-- Peetayers bloc -->
  <div class="row">
    <h2>Our Peetayers</h2>
    <div class="row">
      <%= partial "layouts/polaroid" %>
    </div>
  </div>

  <!-- Services bloc -->
  <div class="row">
    <h2>What kind of services can I ask?</h2>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-service">
        <%= image_tag "flaticon/location.png", class: "home-service-photo" %>
        <p>Housing services</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-service">
        <%= image_tag "flaticon/medical-history.png", class: "home-service-photo" %>
        <p>Assistance the admins</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-service">
        <%= image_tag "flaticon/cheers.png", class: "home-service-photo" %>
        <p>Locals good deals</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-service">
        <%= image_tag "flaticon/guitar.png", class: "home-service-photo" %>
        <p>Locals good deals</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-service">
        <%= image_tag "flaticon/masks.png", class: "home-service-photo" %>
        <p>Locals good deals</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-service">
        <%= image_tag "flaticon/museum.png", class: "home-service-photo" %>
        <p>Locals good deals</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-service">
        <%= image_tag "flaticon/football.png", class: "home-service-photo" %>
        <p>Locals good deals</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-service">
        <%= image_tag "flaticon/add.png", class: "home-service-photo" %>
        <p>And more</p>
      </div>
    </div>
  </div>
</div>

  <!-- Form bloc -->
  <div class="typeform-widget" data-url="https://florine10.typeform.com/to/ZvSjBv" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=ZvSjBv&utm_source=typeform.com-11709731-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>





