
<!-- Hi Flo, keep this following section below (it's used to describe your site in your browser!)
---
css_id: home
title: Peetaya | Home
layout: layout
---

-->

<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "Lille.jpg" %>');">
  <div class="banner-content">
    <h1>Go abroad. Be welcomed</h1>
    <p>Feel confident studying abroad, our locals will take care of you!</p>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 ">
        <div class="home-btn">
          <a class="typeform-share button" href="https://florine10.typeform.com/to/ZvSjBv" data-mode="drawer_left" style="display:inline-block;text-decoration:none;background-color:#F7C879;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:22px;text-align:center;margin:0;padding:15px 15px;border-radius:37px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Book your Peetayer</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 ">
        <div class="home-btn">
          <a class="typeform-share button" href="https://florine10.typeform.com/to/czuy18" data-mode="drawer_left" style="display:inline-block;text-decoration:none;background-color:#2c6c89;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:22px;text-align:center;margin:0;padding:15px 15px;border-radius:37px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Become a Peetayer</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End Banner -->

<!-- Body bloc -->
<div class="container text-center">

  <!-- Description bloc -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <div class="home-desc text-center">
        <p>Peetaya is a social network that allows students to share an experience with a local or city lover during his stay abroad (internship, university exchange, roadtrip, gap year, etc.)</p>
      </div>
    </div>
  </div>

  <br>
  <br>

  <!-- How it works bloc -->
  <div class="row">
    <h2>How it works?</h2>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="polaroid-home">
          <div class="polaroid-home-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "send.jpg" %>');">
          </div>
          <h3 class="polaroid-home-text"><strong>1. I SEND<strong></h3>
          <p class="polaroid-home-desc">A request to Peetaya to be put in contact with a Peetayer for my arrival in my future city or during my trip</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="polaroid-home">
          <div class="polaroid-home-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "receive.jpg" %>');">
          </div>
          <h3 class="polaroid-home-text"><strong>2. I RECEIVE<strong></h3>
          <p class="polaroid-home-desc">One or more Peetayers profiles so that I can choose the one who suits me the most (ultra-personalized)</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="polaroid-home">
          <div class="polaroid-home-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "booking.jpg" %>');">
          </div>
          <h3 class="polaroid-home-text"><strong>3. I BOOK<strong></h3>
          <p class="polaroid-home-desc">My Peetayer by confirming the payment. Then I receive his personal details to contact him</p>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>

  <!-- Peetayers bloc -->
  <div class="row">
    <h2>Our Peetayers</h2>
    <br>
    <br>

    <div class="row">
      <%= partial "layouts/polaroid" %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class="peetayers-desc text-center">
        <p>Ours Peetayers are locals or city lovers. Real experts of their city, our Peetayers are chosen with care. They will help you to prepare your trip, in your arrival or during your stay in your host city.</p>
      </div>
      <br>
      <div class="peetayers-more text-center">
        <a href="peetayers.html"><i class="fas fa-arrow-circle-right fa-4x"></i></a>
      </div>
    </div>
  </div>

  <br>
  <br>

  <!-- Services bloc -->
  <div class="class service">
    <div class="row">
      <h2>What kind of services can I ask for?</h2>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-service">
          <%= image_tag "flaticon/suitcase.png", class: "home-service-photo" %>
          <p>Prepare your trip</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-service">
          <%= image_tag "flaticon/location.png", class: "home-service-photo" %>
          <p>Housing services</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-service">
          <%= image_tag "flaticon/medical-history.png", class: "home-service-photo" %>
          <p>Help with admins</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-service">
          <%= image_tag "flaticon/chat.png", class: "home-service-photo" %>
          <p>Speak local</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-service">
          <%= image_tag "flaticon/cheers.png", class: "home-service-photo" %>
          <p>Local tips</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-service">
          <%= image_tag "flaticon/masks.png", class: "home-service-photo" %>
          <p>Cultural outings</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-service">
          <%= image_tag "flaticon/football.png", class: "home-service-photo" %>
          <p>Play sports</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-service">
          <%= image_tag "flaticon/welcome.png", class: "home-service-photo" %>
          <p>Be welcomed</p>
        </div>
      </div>

    </div>
  </div>

</div>

  <!-- Form bloc -->
  <%= partial "layouts/joinus" %>








