<!-- Banner -->
<div class="banner-peetayers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "https://source.unsplash.com/collection/865018/1000x300"%>');">
  <div class="banner-peetayers-content">
    <h1>Our Peetayers</h1>
  </div>
</div>
<!-- End Banner -->

<div class="container text-center">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class="peetayers-desc text-center">
        <p>Ours Peetayers are locals or passionates about their city. Real experts of their city, our Peetayers are chosen with care. They will help you in your arrival or during your stay in your host city.</p>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="polaroid-lg franco">
        <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/franco.jpg" %>');">
        </div>
        <p class="polaroid-lg-text"><strong>Franco, 25 ans<strong></p>
        <p class="polaroid-lg-desc">"Lillois d'origine"</p>
      </div>
        <%= image_tag "flaticon/pin.png", class: "polaroid-lg-franco-pin" %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="polaroid-lg flo">
        <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars3.githubusercontent.com/u/32438091?v=4');">
        </div>
        <p class="polaroid-lg-text"><strong>Florine, 28 ans<strong></p>
        <p class="polaroid-lg-desc">"Lillois d'origine"</p>
      </div>
        <%= image_tag "flaticon/pin.png", class: "polaroid-lg-flo-pin" %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="polaroid-lg clem">
        <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars1.githubusercontent.com/u/32833885?v=4');">
        </div>
        <p class="polaroid-lg-text"><strong>Clément, 29 ans<strong></p>
        <p class="polaroid-lg-desc">"Lillois d'origine"</p>
      </div>
        <%= image_tag "flaticon/pin.png", class: "polaroid-lg-clem-pin" %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="polaroid-lg quent">
        <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/quentin.jpg" %>');">
        </div>
        <p class="polaroid-lg-text"><strong>Quentin, 21 ans<strong></p>
        <p class="polaroid-lg-desc">"Lillois d'origine"</p>
      </div>
        <%= image_tag "flaticon/pin.png", class: "polaroid-lg-quent-pin" %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="polaroid-lg franco">
        <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/franco.jpg" %>');">
        </div>
        <p class="polaroid-lg-text"><strong>Franco, 25 ans<strong></p>
        <p class="polaroid-lg-desc">"Lillois d'origine"</p>
      </div>
        <%= image_tag "flaticon/pin.png", class: "polaroid-lg-franco-pin" %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="polaroid-lg flo">
        <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars3.githubusercontent.com/u/32438091?v=4');">
        </div>
        <p class="polaroid-lg-text"><strong>Florine, 28 ans<strong></p>
        <p class="polaroid-lg-desc">"Lillois d'origine"</p>
      </div>
        <%= image_tag "flaticon/pin.png", class: "polaroid-lg-flo-pin" %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="polaroid-lg clem">
        <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars1.githubusercontent.com/u/32833885?v=4');">
        </div>
        <p class="polaroid-lg-text"><strong>Clément, 29 ans<strong></p>
        <p class="polaroid-lg-desc">"Lillois d'origine"</p>
      </div>
        <%= image_tag "flaticon/pin.png", class: "polaroid-lg-clem-pin" %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="polaroid-lg quent">
        <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/quentin.jpg" %>');">
        </div>
        <p class="polaroid-lg-text"><strong>Quentin, 21 ans<strong></p>
        <p class="polaroid-lg-desc">"Lillois d'origine"</p>
      </div>
        <%= image_tag "flaticon/pin.png", class: "polaroid-lg-quent-pin" %>
    </div>
  </div>


</div>

<!-- Form bloc -->
<%= partial "layouts/joinus" %>

