<!-- Banner -->
<div class="banner-peetayers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "https://source.unsplash.com/collection/865018/1000x300"%>');">
  <div class="banner-peetayers-content">
    <h1>Our Peetayers</h1>
  </div>
</div>
<!-- End Banner -->

<div class="container text-center">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class="peetayers-desc text-center">
        <p>Ours Peetayers are locals or passionates about their city. Real experts of their city, our Peetayers are chosen with care. They will help you in your arrival or during your stay in your host city.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        <div class="home-btn">
          <a class="typeform-share button" href="https://florine10.typeform.com/to/Jlx5jD" data-mode="drawer_left" style="display:inline-block;text-decoration:none;background-color:#2c6c89;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:22px;text-align:center;margin:0;padding:15px 15px;border-radius:37px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Become a Peetayer</a>
          <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="franco.html">
          <div class="polaroid-lg franco">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/franco.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Franco from Lille<strong></p>
            <p class="polaroid-lg-desc">"I would like to share local tips"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-franco-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="florine.html">
          <div class="polaroid-lg flo">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars3.githubusercontent.com/u/32438091?v=4');">
            </div>
            <p class="polaroid-lg-text"><strong>Florine from Lille<strong></p>
            <p class="polaroid-lg-desc">"I know Lille inside out!"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-flo-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="ewelina.html">
          <div class="polaroid-lg clem">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/ewelina.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Ewelina from Lille<strong></p>
            <p class="polaroid-lg-desc">"We are expatriate Polish"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-clem-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="quentin.html">
          <div class="polaroid-lg quent">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/quentin.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Quentin from Lille<strong></p>
            <p class="polaroid-lg-desc">"I'll make you disciver Lille by night!"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-quent-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="pierre.html">
          <div class="polaroid-lg franco">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/pierre.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Pierre from Lille<strong></p>
            <p class="polaroid-lg-desc">"I love to move and be busy"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-franco-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="allem.html">
          <div class="polaroid-lg flo">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/allem.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Allem from Lille<strong></p>
            <p class="polaroid-lg-desc">"I'll help you with pleasure"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-flo-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="clement.html">
          <div class="polaroid-lg clem">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/clem.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Daph & Clem from Lille<strong></p>
            <p class="polaroid-lg-desc">"We are music addicts"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-clem-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="bastien.html">
          <div class="polaroid-lg quent">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/bastien.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Bastien from Lille<strong></p>
            <p class="polaroid-lg-desc">"I'll give you good tips"</p>
          </div>
            <%= image_tag "flaticon/pin.png", class: "polaroid-lg-quent-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="pauline.html">
          <div class="polaroid-lg franco">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/pauline.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Pauline from Lille<strong></p>
            <p class="polaroid-lg-desc">"I'll make you discover Lille by bike"</p>
          </div>
            <%= image_tag "flaticon/pin.png", class: "polaroid-lg-franco-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="louis.html">
          <div class="polaroid-lg franco">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/louis.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Louis from Lille<strong></p>
            <p class="polaroid-lg-desc">"I'm a Lille addict"</p>
          </div>
            <%= image_tag "flaticon/pin.png", class: "polaroid-lg-franco-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="delphine.html">
          <div class="polaroid-lg flo">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/delphine.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Delphine from Lille<strong></p>
            <p class="polaroid-lg-desc">"I want to meet newcomers"</p>
          </div>
            <%= image_tag "flaticon/pin.png", class: "polaroid-lg-flo-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="nicolas.html">
          <div class="polaroid-lg flo">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/nicolas.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Paquit & Nico from Lille<strong></p>
            <p class="polaroid-lg-desc">"We know Lille like nobody!"</p>
          </div>
            <%= image_tag "flaticon/pin.png", class: "polaroid-lg-flo-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="jordan.html">
          <div class="polaroid-lg franco">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/jordan.jpeg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Jordan from Lille<strong></p>
            <p class="polaroid-lg-desc">"I truly love my town"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-franco-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="sarah.html">
          <div class="polaroid-lg flo">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/sarah.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Sarah from Lille<strong></p>
            <p class="polaroid-lg-desc">"I love share my culture!"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-flo-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="romane.html">
          <div class="polaroid-lg clem">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/romane.jpeg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Romane from Lille<strong></p>
            <p class="polaroid-lg-desc">"I like meet new people"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-clem-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="chloe.html">
          <div class="polaroid-lg flo">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/chloe.jpeg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Chloe from London<strong></p>
            <p class="polaroid-lg-desc">"I know London as nobody!"</p>
          </div>
            <%= image_tag "flaticon/pin.png", class: "polaroid-lg-flo-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="romain.html">
          <div class="polaroid-lg franco">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/romain.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>romain from Montreal<strong></p>
            <p class="polaroid-lg-desc">"I truly love my town"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-franco-pin" %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="pepa.html">
          <div class="polaroid-lg flo">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/pepa.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Pepa from Mallorca<strong></p>
            <p class="polaroid-lg-desc">"I love share my culture!"</p>
          </div>
          <%= image_tag "flaticon/pin.png", class: "polaroid-lg-flo-pin" %>
        </a>
      </div>
    </div>

<!-- Banner
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="pola">
        <a href="camille.html">
          <div class="polaroid-lg quent">
            <div class="polaroid-lg-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/camille.jpg" %>');">
            </div>
            <p class="polaroid-lg-text"><strong>Camille, 23 ans<strong></p>
            <p class="polaroid-lg-desc">"I'll discover Lille by night"</p>
          </div>
            <%= image_tag "flaticon/pin.png", class: "polaroid-lg-quent-pin" %>
        </a>
      </div>
    </div>
-->

  </div>

</div>

<!-- Form bloc -->
<%= partial "layouts/joinus" %>

