<!-- Banner -->
<div class="banner-peetayers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "https://source.unsplash.com/collection/865018/1000x300"%>');">
  <div class="banner-peetayers-content">
    <h1>Welcome</h1>
  </div>
</div>
<!-- End Banner -->

<div class="container">
  <div class="body">
    <div class="row">

      <div class="column-1">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="polaroid flo">
            <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/quentin.jpg" %>');">
            </div>
            <p class="polaroid-text"><strong>Quentin, 21 ans<strong></p>
            <p class="polaroid-desc">"I'll make you disciver Lille by night!"</p>
          </div>
          <br>

          <div class="infos">
            <div class="infos-title text-center">
              <p><strong>Information checked</strong></p>
            </div>
            <div class="infos-content">
              <ul><p><i class="far fa-check-circle"></i> Official ID</p></ul>
              <ul><p><i class="far fa-check-circle"></i> Phone</p></ul>
              <ul><p><i class="far fa-check-circle"></i> Email</p></ul>
            </div>
          </div>
        </div>
      </div>

      <div class="column-2">
        <div class="col-xs-12 col-sm-12 col-md-9">

            <div class="row">
              <div class="space1 text-center">
                <div class="space1-title">
                  <h3>Hello, I'm Quentin!</h3>
                </div>
                <div class="space1-content">
                  <p>Lille, France ° for 3 years</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Available services</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <div class="row">
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/suitcase.png", class: "space2-photo" %>
                        <p>Prepare your trip</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/location.png", class: "space2-photo" %>
                        <p>Housing services</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/medical-history.png", class: "space2-photo" %>
                        <p>Help with admins</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/chat.png", class: "space2-photo" %>
                        <p>Speak local</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/cheers.png", class: "space2-photo" %>
                        <p>Local tips</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/masks.png", class: "space2-photo" %>
                        <p>Cultural outings</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/football.png", class: "space2-photo" %>
                        <p>Play sports</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/welcome.png", class: "space2-photo" %>
                        <p>Be welcomed</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Languages?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>French, English & Italian</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Why do you like Lille?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>For its beautiful architecture, Lille is a really charming city. And also because it's a young and dynamic city with many students.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Your favorite spots in Lille?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>The park of "La Citadelle" to run, the "Nouveau siècle" place and the "Rue Royale" street to go out at by night, and the "Rue de Gand" street for its restaurants.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Why do you want to become a Peetayer?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>To allow newcomers to quickly know the best places in Lille and make the most of their stay.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>What are your interests?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Everything about the property, parties of course, and play sports in particular triathlon.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>What about Quentin?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Quentin is a France southerner who arrived in Lille 3 years ago. Young entrepreneur in property, he will make you discover the best places in the city as much to cultivate you, as spending evenings of madness.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Which countries have you visited?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Espagne en vacances, Angleterre en vacances et avec l'école, Belgique pour les vacances.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Form bloc -->
<%= partial "layouts/joinus" %>

