<!-- Banner -->
<div class="banner-peetayers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "https://source.unsplash.com/collection/865018/1000x300"%>');">
  <div class="banner-peetayers-content">
    <h1>Welcome</h1>
  </div>
</div>
<!-- End Banner -->

<div class="container">
  <div class="body">
    <div class="row">

      <div class="column-1">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="polaroid flo">
            <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars3.githubusercontent.com/u/32438091?v=4');">
            </div>
            <p class="polaroid-text"><strong>Samir, 37 ans<strong></p>
            <p class="polaroid-desc">"I know Lille inside out!"</p>
          </div>
          <br>

          <div class="infos">
            <div class="infos-title text-center">
              <p><strong>Information checked</strong></p>
            </div>
            <div class="infos-content">
              <ul><p><i class="far fa-check-circle"></i> Official ID</p></ul>
              <ul><p><i class="far fa-check-circle"></i> Phone</p></ul>
              <ul><p><i class="far fa-check-circle"></i> Email</p></ul>
            </div>
          </div>
        </div>
      </div>

      <div class="column-2">
        <div class="col-xs-12 col-sm-12 col-md-9">

            <div class="row">
              <div class="space1 text-center">
                <div class="space1-title">
                  <h3>Hello, I'm Samir!</h3>
                </div>
                <div class="space1-content">
                  <p>Lille, France ° since always</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Available services</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <div class="row">
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/suitcase.png", class: "space2-photo" %>
                        <p>Prepare your trip</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/location.png", class: "space2-photo" %>
                        <p>Housing services</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/medical-history.png", class: "space2-photo" %>
                        <p>Help with admins</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/chat.png", class: "space2-photo" %>
                        <p>Speak local</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/cheers.png", class: "space2-photo" %>
                        <p>Local tips</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/masks.png", class: "space2-photo" %>
                        <p>Cultural outings</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/football.png", class: "space2-photo" %>
                        <p>Play sports</p>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <%= image_tag "flaticon/welcome.png", class: "space2-photo" %>
                        <p>Be welcomed</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Languages?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>French, English & Arabic</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Why do you like Lille?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Fier de ma ville et surtout de la gentillesse de la population.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Your favorite spots in Lille?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Wazemmes, la citadelle, vieux lille, rue solférino, opium, </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Why do you want to become a Peetayer?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>J'ai vécu dans plusieurs pays et je sais comment cela peut être difficile de se retrouver seul, sans parler la langue, sans savoir quoi faire/visiter/découvrir... et c'est l'occasion de rencontrer des personnes venant de partout.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>What are your interests?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Entreprendre, BasketBall, soul, rap, r&b, disco, gospel, stand up, cinéma, cuisiner, découvrir des nouveaux restaurants/nouvelles cuisines.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>What about Samir?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>Je profite de la vie</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="space2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="space2-title">
                    <p><strong>Which countries have you visited?</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="space2-content">
                    <p>J'ai vécu à Londres, Amsterdam, et Bangalore(Inde) dans un but professionnel. Personnel, j'ai voyagé dans toute l'Europe puis le Maghreb, le moyen orient, Inde</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Form bloc -->
<%= partial "layouts/joinus" %>


